.shows img, .show img{
    width:100%;
}
.col-md-3 {
    cursor: pointer;
    transition-duration: 0.5s;
}
.col-md-3:hover{
    transform: scale(1.05);
}

.navbar-brand {
    cursor: pointer;
    transition-duration: 0.3s;
}
.navbar-brand:hover{
    transform: scale(1.2);
}

.list-inline-item > .navbar-brand:active {
    color: yellow;
}