.shows img, .show img{
    width:100%;
}
.col-md-3 {
    cursor: pointer;
    transition-duration: 0.5s;
}
.col-md-3:hover{
    transform: scale(1.05);
}

.navbar-brand {
    color: black;
    transition-duration: 0.5s;
}
.navbar-brand:hover {
    transform: scale(1.2);
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 20%; 
}

.navbar-brand:active {
    background-color: lightgreen;
    border: 2px solid red;
}